Source: sonic-rest-api-server
Maintainer: Pavel Shirshov <pavelsh@microsoft.com>
Section: net
Priority: optional
Build-Depends: dh-exec (>=0.3), debhelper (>= 9)
Standards-Version: 1.0.0

Package: sonic-rest-api
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains rest api server for MS EE and Baremetal scenarios

Package: thrift-mock-server
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains thrift mock server for MS EE and Baremetal dpdk application

Package: arp-mock-server
Architecture: any
Depends: ${shlibs:Depends}
Description: This package contains thrift mock server for the ARP responder

